<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO 상세</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: 'Noto Sans KR', sans-serif;
            background-color: #f8f9fa;
        }
        .container {
            max-width: 800px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/todo/list">TODO 관리</a>
        <a class="navbar-brand" href="/home">HOME</a>
        <div class="navbar-nav">
				<a class="nav-link" href="/todo/write">TODO 등록</a>
	   </div>
    </div>
</nav>

<div class="container mt-5">
    <h2 class="mb-4">TODO 상세</h2>

    <div class="card">
        <div class="card-body">
            <h5 th:text="${todo.title}" class="card-title mb-3"></h5>
            
            <hr>

           <!--  <p th:text="'작성일 : ' + ${#dates.format(todo.writeDate, 'yyyy-MM-dd')}" class="text-muted"></p> -->
            <p th:text="|작성일 : ${#dates.format(todo.writeDate, 'yyyy-MM-dd HH:mm:ss')}|" class="text-muted"></p>
            <!-- |이 안에 있는 것을 하나의 문자열로 인식| -->

            <p class="mt-3" style="white-space: pre-wrap;" th:text="${ todo.content }"></p>
            <div th:switch="${todo.completed}">
                <span class="badge bg-success text-dark" th:case="true">완료</span>
                <span class="badge bg-warning text-dark" th:case="false">진행중</span>
            </div>
            
        </div>
    </div>

    <div class="mt-4 text-end">
        <a href="/todo/list" class="btn btn-secondary">목록</a>
        <a th:href="@{/todo/edit(idx=${todo.idx})}" class="btn btn-primary">수정</a>
        <a id="delete-post" href="#" class="btn btn-danger">삭제</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript"> 
<!-- Enable Thymeleaf inline JavaScript -->
$( () => {
    $("#delete-post").on("click", (e) => {
		e.preventDefault();
        const confirmation = confirm("삭제하시겠습니?");
        if(!confirmation){
            return;
        }
        location.href = "/todo/delete/" + [[${todo.idx}]];
    });
});
</script>
</body>
</html>
